/* General setup */
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.sidewalk,
.sunset,
.road {
  position: relative;
}

.sunset {
  height: 40%;
  background: linear-gradient(to top,
      #040308,
      #AD4A28,
      #DD723C,
      #FC7001,
      #DCB697,
      #9BA5AE,
      #3E5879,
      #020B1A);
}

.sidewalk {
  height: 30%;
  background: #959595;
}

.road {
  height: 30%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.boundary-line {
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}


/* Animation objects */
.luigi {
  margin-top: 150px;
  animation:
    move 12s linear infinite normal
}

.mario {
  position: absolute;
  top: -20px;
  left: 0px;

  animation:
    move 8s linear infinite normal,
    jump 2s linear infinite 1s normal;
}

.cloud1 {
  opacity: 0.5;
  position: absolute;
  top: 200px;
  width: 150px;

  /** Animation Long Variation */
  animation-name: move;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: reverse;


  /** animation: name, duration, speed-curve, delay, iteration-count direction fill-mode; */
  /** Animation Short Variation */
  animation: move 60s linear 1s infinite reverse;
}

.cloud2 {
  animation: move 50s linear infinite reverse;
  opacity: 0.5;
  width: 200px;
}

.roller {
  width: 241px;
  margin-top: 100px;
  animation: move 15s linear infinite reverse
}


/* ANIMATIONS */

/*! Don't ever use margin in your animation, because margin will cause a new calculation of rendering and paint all over again. */
/*! With transform properties like translateX, scale, rotated, etc, will not cause of rendering or painting. */

/* Use this way when we have 2 state (start & end) */
@keyframes move {
  from {
    transform: translateX(-50px);
  }

  to {
    transform: translateX(120vw)
  }
}

/* Use this way when we have more then 2 state */
/* We use the top property from mario and just manipulate it  */
@keyframes jump {
  0% {
    top: -40px;
  }

  50% {
    top: -60px;
  }

  100% {
    top: -40px;
  }
}